<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TMPH00043</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
      <li><a href="index.html" id="Objektas1" class="active">home</a></li>
      <li><a href="about.html">Registration</a></li>
      <li><a href="services.html">tree list</a></li>
      <li><a href="works.html">works</a></li>
      <li><a href="contact.html">contact</a></li>
    </ul>
  </div>
  <div class="call">
    <h1>Call us :<span>  +370  602 77880</span></h1>
  </div>
</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"><img src="images/logo-wrap-left.jpg" /></div>
  <div class="logo">
    <center><h1>Family tree</h1></center>
  </div>
  <div class="rightshadow"><img src="images/logo-wrap-right.jpg" /></div>
  <div class="rightshadow" id = "Tadas"><img src="images/logo-wrap-right.jpg" /></div>
</div>
<div class="clearing"></div>
<div class="banner-wrapper">
  <div class="bannerlef"><img src="images/banner-wrap-left.jpg" /></div>
  <div class="banner-container">
    <div class="banner">
      <div class="banner-content">
        <h1>Family tree</h1>
        <h2> Create your own family tree</h2>
        <a href="#">Register Here</a> </div>
    </div>
  </div>
  <div class="bannerright"><img src="images/banner-wrap-right.jpg"/></div>
</div>
<!--- banner wrapper div end -->
<div class="clearing"></div>
<div class="container">
  <div class="page-wrapper">
    <div class="primary-content">
      <div class="panel">
        <div class="title">
          <h1>Family tree is a free website</h1>
          <h2>  dedicated to helping children of different ages get to know and keep constant contact with family members of broader family. We value family and the impact it can have on children's life </h2>
        </div>
        <div class="content">
          <p> Let's go on </p>
          <div class="button-link"><a href="#">more</a></div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="panel">
        <div id="SeimosPhoto"></div>
      </div>
    </div>
  </div>
  <div class="panel-wrapper">
    <div class="panel marRight30">
      <div class="title">
        <h1>Further information</h1>
      </div>
      <div class="imgbg">
        <div class="img"><img src=""/></div>
      </div>
      <div class="content">
        <h2>  </h2>
        <p>Nam libero tempore, cum soluta nobis impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est Ut in magna tellus, at vestibulum augue. </p>
        <p>Nunc tempor mattis urna, eget vulputate erat tincidunt sed. Etiam justo ante.</p>
        <div class="button-link"><a href="#">more</a></div>
      </div>
    </div>
    <div class="panel marRight30">
      <div class="title">
        <h1> C </h1>
      </div>
      <div class="mid-panel">
        <div class="left marRight30">
          <div class="imgbg">
            <div class="img" id="CategoryPhoto1"></div>
          </div>
        </div>
        <div class="right"> <a href="#">Unde omnis iste</a>
          <p class="padTop10">Tempor mattis urna, eget vulputate erat tincidunt sedtiam justo ante neredmet purne fazayaaan.</p>
        </div>
      </div>
      <div class="mid-panel padTop30">
        <div class="left marRight30">
          <div class="imgbg">
            <div class="img"></div>
          </div>
        </div>
        <div class="right"> <a href="#">Unde omnis iste</a>
          <p class="padTop10">Tempor mattis urna, eget vulputate erat tincidunt sedtiam justo ante neredmet purne fazayaaan.</p>
        </div>
      </div>
      <div class="mid-panel padTop30 padBottom28 borderNone">
        <div class="left marRight30">
          <div class="imgbg">
            <div class="img"><img src="images/img-6.jpg"/></div>
          </div>
        </div>
        <div class="right"> <a href="#">Unde omnis iste</a>
          <p class="padTop10">Tempor mattis urna, eget vulputate erat tincidunt sedtiam justo ante neredmet purne fazayaaan.</p>
        </div>
      </div>
      <div class="content">
        <div class="button-link"><a href="#">more</a></div>
      </div>
    </div>
    <div class="panel">
      <div class="title">
        <h1>Atvero eos et accusa</h1>
        <h2>Unde omnis iste natus error sit volup
          tatem dolres voluuptatem quila aspern
          fagit vitae expilca</h2>
      </div>
      <div class="content">
        <p>Nam libero tempore, cum soluta nobis impedit quo minus id quod maxime placeat facere.</p>
        <div class="right-panel">
          <ul>
            <li><a href="#">Maecenas a purus quis nisl interdum tincidun</a></li>
            <li><a href="#">Cras faucibus leo sit amet quam malesuada</a></li>
            <li><a href="#">Nullam eleifend erat faucibus ante gravi</a></li>
            <li><a href="#">Morbi sollicitudin orci vitae sapien varius no</a></li>
            <li><a href="#">Aenean egestas quam nec orci commodo</a></li>
            <li><a href="#">Duis quis nisi in ante scelerisque ullamcorper</a></li>
            <li class="borderNone"><a href="#">Ut a quam in lectus lacinia luctus ut non or</a></li>
          </ul>
        </div>
        <div class="button-link"><a href="#">more</a></div>
      </div>
    </div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
<div class="panel-wrapper">
  <div class="panel marRight30">
    <div class="title">
      <h1>suntin culpa qui</h1>
    </div>
    <div class="contact">
      <input type="text" class="contact-input" name="name" id="name" value="Name"/>
      <input type="text" class="contact-input" name="name" id="name" value="Email"/>
      <input type="text" class="contact-comments" name="name" id="name" value="Comments"/>
      <div class="button-link"><a href="#">submit</a></div>
    </div>
  </div>
  <div class="panel marRight30">
    <div class="title">
      <h1>Ipsum quia dolor</h1>
      <h2>Cum soluta nobis impedit quo minus id 
        od maxime placeat facere possimus omnis voluptas assumenda est Ut in magna te
        at vestibulum augue. </h2>
    </div>
    <div class="midcontent">
      <div class="midcontentlink marRight40">
        <ul>
          <li><a href="#">Nullam molestie turp</a></li>
          <li><a href="#">Tempor incididunt</a></li>
          <li><a href="#">Nullam molestie tur</a></li>
          <li class="borderNone"><a href="#">Ut enim ad minim</a></li>
        </ul>
      </div>
      <div class="midcontentlink">
        <ul>
          <li><a href="#">Nullam molestie turp</a></li>
          <li><a href="#">Tempor incididunt</a></li>
          <li><a href="#">Nullam molestie tur</a></li>
          <li class="borderNone"><a href="#">Ut enim ad minim</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="title">
      <h1>Erat magna suimp</h1>
      <h2>Follow us on</h2>
    </div>
    <div class="social-media">
      <ul>
        <li><a href="#"><img src="images/icon-ol.jpg"/></a></li>
        <li><a href="#"><img src="images/icon-fb.jpg"/></a></li>
        <li><a href="#"><img src="images/icon-twitter.jpg"/></a></li>
        <li><a href="#"><img src="images/icon-linkdin.jpg"/></a></li>
        <li><a href="#"><img src="images/icon-fb.jpg"/></a></li>
      </ul>
    </div>
    <h2 class="padBottom10">Send us email</h2>
    <div class="infolinks marginBottom"> <a href="#">info@companyname.com</a> <a href="#">sales@companyname.com</a> <a href="#">contact@companyname.com</a> <a href="#">manager@companyname</a> </div>
  </div>
</div>
<div class="footer-wrapper">
  <div class="footer">
    <p> © 2012 All Rights Reserved.<a href="http://www.alltemplates.com"> < www.alltemplateneeds.com ></a> Images From: <a href="http://photorack.net">www.photorack.net</a> </p>
  </div>
</div>
</body>
</html>
