<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TMPH00043</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
      <li><a href="index.html">home</a></li>
      <li><a href="about.html">Tekstas</a></li>
      <li><a href="services.html">services</a></li>
      <li><a href="works.html">works</a></li>
      <li><a href="contact.html" class="active">Quizz</a></li>
    </ul>
  </div>
  <div class="call">
    <h1>Call us :<span> + 370 602 77880</span></h1>
  </div>
</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo">
    <h1>Quizz 4</h1>
  </div>
  <div class="rightshadow"></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title">
        </div>
        <div class="content">
          <div class="right-panel">
          </div>
        </div>
      </div>
    </div>
    <div class="right-colum">
      <div class="mid-panel-content">
        <div class="title">
          <h1>Simply quizz 2</h1>
        </div>
        <div class="border"></div>
        <h2>Your knowleadge goes here</h2>
        <form>
          <div class="contact-form margin-top AtskirtiImputai " id="RadioButtons">
          
          <label> Rūta is your ... </label>
          
          <label><input type="radio" name = "Quizz2Radio1" value = "aunt" checked="checked"> Aunt </label> 
          <label><input type="radio" name = "Quizz2Radio2" value = "sister"> Sister </label> 
          <label><input type="radio" name = "Quizz2Radio3" value = "grandmother"> Grandmother </label>
          <label><input type="radio" name = "Quizz2Radio4" value = "mother"> Mother </label>
          
             

            <input type="button" class="button" value="Check answers" />
          </div>
        </form>
        <div class="clearing"></div>
        <div class="address">
          <div class="panel">
          </div>
          <div class="panel">
            <div class="title">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
<div class="footer-wrapper">
  <div class="footer">
    <p> © 2016 All Rights Reserved F_Tree</p>
  </div>
</div>
</body>
</html>
