<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TMPH00043</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
      <li><a href="index.html">home</a></li>
      <li><a href="about.html">about</a></li>
      <li><a href="services.html" class="active" >quizz3</a></li>
      <li><a href="works.html">works</a></li>
      <li><a href="contact.html">contact</a></li>
    </ul>
  </div>
  <div class="call"> </div>
</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo">
    <h1>Quizz3</h1>
  </div>
  <div class="rightshadow"></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title"> </div>
</div>
    </div>
    <div class="right-colum">
      <div class="title">
        <h1>Who is your grandfather ?</h1>
      </div>
      <div class="panel">
<div class="clear"></div>
        <div class="content marbottom30"> <img src="images/Brad-Pitt.jpg" width="260px" height="160px"/>
          <h2> <input type="radio"> Brad Pitt </input> </h2>
</div>
        <div class="clear"></div>
<div class="clear"></div>
        <div class="content marbottom30"> <img src="images/arnold-schwarzenegger.jpg" width="260px" height="160px"/>
          <h2><input type="radio"> Arnold Schwarzenegger </input></h2>
</div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
<div class="footer-wrapper">
  <div class="footer">
    <p> © 2012 All Rights Reserved.<a href="http://www.alltemplates.com"> < www.alltemplateneeds.com ></a> Images From: <a href="http://photorack.net">www.photorack.net</a> </p>
  </div>
</div>
</body>
</html>
